<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>187372259709-04ric7cpih8i1i9khb23abrb32ccsgcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187372259709-04ric7cpih8i1i9khb23abrb32ccsgcm</string>
	<key>API_KEY</key>
	<string>AIzaSyBrrhySfzx8PzRjwm7Mqlojnnkp0bunmTg</string>
	<key>GCM_SENDER_ID</key>
	<string>187372259709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.X3non0727.litter</string>
	<key>PROJECT_ID</key>
	<string>litter-89c79</string>
	<key>STORAGE_BUCKET</key>
	<string>litter-89c79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187372259709:ios:4254563ef0437e7a</string>
	<key>DATABASE_URL</key>
	<string>https://litter-89c79.firebaseio.com</string>
</dict>
</plist>